.root {
  position: relative;
  width: 100%;
}

.root * {
  box-sizing: border-box;
}

.input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid rgb(34, 34, 34);
  font-size: 1rem;
  font-weight: 700;
}

.input:focus {
  border-color: blue;
  outline: none;
}

.suggestions {
  position: absolute;
  top: 0;
  transform: translateY(39px);
  background: #fff;
  border: 2px solid rgb(34, 34, 34);
  width: 100%;
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.list-item {
  padding: 10px 15px;
  cursor: pointer;
}

.list-item:hover {
  background: #efefef;
}
